/* @theme base.css */

@import 'gaia';

:root {
    --color-accent: #152A64;
    --color-background: #F8F8F8;
    --color-foreground: #404040;
    --color-highlight: #002060;
    --color-dimmed: #A6A6A6;
}

footer {
    color: var(--color-dimmed);
    left: auto;
    right: 125px;
    font-size: 50%
}

section.lead h1 {
    font-size: 2.0em;
    border-left: none;
}

h1 {
    color: var(--color-foreground);
    padding: .1em 30px;
    border-left: 8px solid var(--color-accent);
}

section {
    background-color: var(--color-background);
    background-image: none;
    color: var(--color-foreground);
    padding: 30px 50px;
}

section:after {
  position: absolute;
  bottom: none;
  right: 50px;
  width: 70px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-accent);
  color: white;
}
